<!DOCTYPE html>
<html ng-app = "myApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="../styles/main.css" rel="stylesheet" type="text/css">

    </head>

    <body>
        <div class="container">
            <h1>Bye et merci d'avoir utilisé nos services, Harmony-Dev.</h1>
        </div>
    </body>
</html>
