<!DOCTYPE html>
<html ng-app = "galerie">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="../styles/main.css" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.4.4/angular.min.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.4.4/angular-cookies.min.js"></script>

        <script type="text/javascript" src="../js/app.js"></script>
        <script type="text/javascript" src="../js/galerieController.js"></script>


    </head>

    <body ng-controller="galerieController">
        <header>

            <div class="navbar navbar-default " role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header col-md-4"><a class="navbar-brand" href="#">Trou du chien</a>
                    </div>
                    <div class="collapse navbar-collapse navbar-menubuilder">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="../index.html#home">Accueil</a>
                            </li>

                            <li>
                                <a href="#contact">Contact</a>
                            </li>

                            <li>
                                <a href="../index.html#event">Evènements</a>
                            </li>

                            <li>
                                <a href="#" class="activeItem" ng-click="backAlbum()">Galerie de photo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </header>

        <div class="container">

            <div class="row">
                <div class="col-sm-3 galerieController" ng-repeat="titre in albumTitre">
                    <a href="#" class="thumbnail" ng-click="getPhoto(titre.id)">
                        <h1>{{ titre.titre }}</h1>
                    </a>
                </div>

                <div class="photoShow">
                    <div class="container">
                        <img  ng-repeat= "img in photo" src="../img/{{ img.chemin }}" alt="{{ img.titre }}" style="width: 100%;" class="thumbnail" title ="{{ img.titre }}"/>
                        <button type="button" id="backAlbum" class="btn btn-success" ng-click="backAlbum()" >< Album</button>
                    </div>

                    <div id="addPhoto">
                        <form enctype="multipart/form-data" action="../data/upload.php" method="post" id="addPhoto">

                            <input type="hidden" name="MAX_FILE_SIZE" value="300000"/>
                            <input name="userfile" type="file" />
                            <select name="FK_album">
                                <option ng-repeat="titre in albumTitre" value="{{ titre.id }}">{{ titre.titre }}</option>
                            </select>
                            <input type="submit" value="Envoyer le fichier" class="btn btn-success"/>
                        </form>
                    </div>

                </div>


            </div>

            <div id="addAlbum">
                <button type="button" ng-click="addAlbum()" class="btn btn-default">Ajouter un album.</button>
                <div id="formAlbum">
                    <input type="text" ng-model="addAlbumModel"/>
                    <button type="button" ng-click="validationAlbum()" class="btn btn-success">Ajouter !</button>
                </div>
            </div>


        </div>

        <footer id ="contact">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1 class="text-success">Trou du chients</h1>
                        <p class="text-success">Bienvenu sur le site web de la pêcherie du trou des chiens,<br /> vous pourrez ici découvrir les différents services qu'on vous propose.
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;La pêche, plus qu'une passion.</p>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1858.956880970786!2d5.347174628696751!3d50.03032346444617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c02dc5abff7c75%3A0x16dd2748d305dd24!2sRue+de+Lorcy%2C+6870+Saint-Hubert!5e0!3m2!1sfr!2sbe!4v1442655804150" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-md-12 text-left">
                                <h1 class="text-success">Informations complémentaires</h1>
                                <p><span class="text-success">Téléphonne:</span> 0467/32.54.12</p>
                                <p><span class="text-success">Adresse:</span> Rue de Lorcy, 6870 Saint-Hubert</p>
                            </div>
                            <div class="col-md-12 text-left">
                                <h1 class="text-success">Plan du site</h1>
                                <a href="../index.html#home">Accueil</p>
                                <a href="#" class="activeItem">Galerie de photo</p>
                                <a href="../index.html#event">Evenements</p>
                                <a href="#contact">contact</p>
                            </div>
                            <br />
                            <div class="col-md-12 text-left">
                                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="text-center text-inverse"><a href="http://www.harmony-dev.biz">Devlopped by Harmony-Dev.</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="../js/scroller.js"></script>
    </body>
</html>
